*
{
    margin: 0;
    padding: 0; 
}

body
{
   
    width: 70%;
    height: 1450px;
    margin: auto;
    background-color:grey;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row nowrap;
    font-family: 'Roboto', sans-serif;
}

.pics1
{
	width: 200px;
	margin: 50px;
	border-radius: 50%;
	position: static;
	border: 4px solid orange;
}


#presentation
{
    background-color: #FFCA28; 
    flex-shrink: 1;
    height: 1450px;
}


#contact
{
    height: 320px;
    margin-bottom: 20px;
}

#about
{
    height: 650px;
}

#leisure
{
    height: 110px;
}


.activities
{
    margin-top: 20px;
    display: flex;
    height: 100px;
    justify-content: space-around;
}

img
{
    width: 30px;
    display: block;
    margin: 10px;
    position: absolute;

}


.circle
{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
}


.presentation_title 
{
    text-align: center;
    background-color: rgb(53, 53, 54);
    color: #ffd900;
    padding: 5px;
    margin: 0px;
}

.adress
{
    margin-left: 30px;
    margin-top: 15px;
}


.about_me
{
    width: 250px;
    margin-left: 30px;
    margin-top: 15px;
    text-align: justify;
}


#activity
{
    background-color: rgb(241, 241, 239); 
    flex-grow: 1;
    height: 1450px;
    margin-bottom: 0px;
    min-width: 737px;
}

.studies
{
    widows: auto;
    height: 390px;
}

.professional
{
    width:auto ;
    height: 550px;
}


.name_job
{
    margin-top: 100px;
    margin-bottom: 140px;
    font-weight: bold;
}

.bloc3
{
    margin-bottom: 0px;
}
.myname
{
    margin-left: 40px;
    margin-bottom: 0;
}


p.subtitle
{
    position:relative;
}

p.subtitle::before 
{
    content: '';
    position:absolute;
    width: 42px;
    height: 2px;
    background-color: #FFCA28;
    bottom: 0px;
    
}

.subtitle
{
   
   margin:0;
   padding-bottom: 2px;
   margin-left: 40px;

}


.fas, .far 
{
    color: #FFCA28;
    margin-right: 10px;
}


.mylastname
{
    color: #FFCA28;
}




h1
{
    margin-left: 40px;
    font-size: 30px;
    
}

h1.prenom
{
    border-bottom: none;
    font-size: 46px;
    
}

h2.p1 .p2 .p3
{
    margin-bottom: 0px;
}

h2.book, .expe1, .recommend
{
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid #FFCA28;
    margin-right: 40px;
    margin-left: 40px;
}    



h3
{
	margin-top:0px;
    margin-bottom: 0px;
}

h4
{
    margin:5px; 
    padding: 0;
}


.date
{
	float: left;
	margin-left: 40px;
    margin-top: 20px;
    display: flex;
}


.part1
{
    flex: 0.3;

}

.part2
{
	flex: 2;
}

.part3
{
	flex: 5;
	margin-right: 40px;
}

.date_1
{
    margin:0;
    padding: 0;
}

.relations
{
    margin-bottom: 0px;
}

.recommend_0
{
    margin-left: 40px;
    margin-top: 20px;
	display: flex;

}

.recommend_2
{
	margin-left: 200px;
    margin-right: 40px;
}

@media screen and (max-width: 950px) 
{
    body
    {
        flex-direction: column;
        width: auto;
        height: auto;
        margin-top: 0px;
    }

    #presentation
    {
        margin-bottom: 0px;
        width: auto;
        height: auto;
        flex-shrink: none;
    }

    #presentation .pics1
    {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
    #about
    {
        height: auto;
    }

    .about_me
    {
        width: auto;
        margin-right: 30px;
    }

    .name_job
    {
        margin-top: 0px;
        margin-bottom: 0px;
    }    

    #activity
    {
        width: auto; 
        min-width: 500px;
        height: auto;
    }
    #leisure
    {
        height: auto;
    }
    .recommend_0
    {
        padding-bottom: 15px;

    }
}

@media screen and (max-width: 500px)
{
    #presentation
    {
        width: auto;
    }

    .recommend_0
    {
        flex-direction: column;
        padding-bottom: 15px;

    }

    .recommend_2
    {
        margin-left: 0px;
        margin-top: 20px;
    }

    .date
    {
        margin-left: 0px;
        
    }

    

    h2.book, .expe1, .recommend
    {
        width: auto;
        margin-bottom: 0px;
        border-bottom: 3px solid #FFCA28;
        margin-right: 0px;
        margin-left: 0px;
    }    

    #activity
    {
        min-width: 400px;
    }

}