body
{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(0, 2, 2);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row nowrap;
    box-sizing: border-box;
}

.pics1
{
	width: 200px;
	margin: 50px;
	border-radius: 50%;
	position: static;
	border:10px solid orange;
}


.volet1
{
    background-color: #ffd900; 
    flex-shrink: 1;
}

.contact
{
    height: 300px;
}

.apropos
{
    height: 850px;
}

.loisirs
{
    height: 100px;
}

.flexi
{
    display: flex;
}

img
{
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.p1 
{
    text-align: center;
    background-color: rgb(53, 53, 54);
    color: #ffd900;
}

.p11
{
    margin-left: 30px;
}

.p2 
{
    text-align: center;
    background-color: rgb(53, 53, 54);
    color: #ffd900;
}

.lorem
{
    width: 250px;
    margin-left: 30px;
    text-align: justify;
}



.p3
{
    text-align: center;
    background-color: rgb(53, 53, 54);
    color: #ffd900;
}



.volet2
{
    background-color: rgb(241, 241, 239); 
    flex-grow: 1;
}
.bloc1
{
    margin-top: 70px;
    font-weight: bold;
}

.prenom
{
    margin-left: 40px;
}

.subtitle
{
    margin-left: 40px;
    content: '';

}
.nom
{
    color: rgb(255, 217, 0);
}


.book::before
{
    content: url(image/book-solid.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right:20px;
}

.expe1::before
{
    content: url(image/briefcase-solid.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right:20px;
}

.recommand::before
{
    content: url(image/marker-solid.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right:20px;
}



h1
{
    margin-left: 40px;
    font-size: 30px;
    border-bottom: 3px solid #ffd900;
}

h1.prenom
{
    border-bottom: none;
}
h2
{
	margin-bottom: 0px;
}

h3
{
	margin-top:0px;
}



section
{
	margin-bottom: 70px;
}

.expe
{
    margin-left: 300px;
    margin-right: 40px;
    text-align: justify;
}

.date
{
	float: left;
	margin-left: 40px;
}

.date_1
{
    margin-top: 5px;
}

.date_1::before 
{
    content: "•"; color: #ffd900;
    padding: 5px;
}
.date_2
{
    margin-top: 130px;

}

.date_2::before
{
    content: "•"; color: #ffd900;
    padding: 5px;
}

.date_3
{
    margin-top: 5px;
}

.date_3::before
{
   content: "•"; color: #ffd900;
    padding: 5px; 
}

.date_4
{
    margin-top: 130px;
}

.date_4::before
{
   content: "•"; color: #ffd900;
    padding: 5px; 
}

.date_5
{
    margin-top: 130px;
}

.date_5::before
{
   content: "•"; color: #ffd900;
    padding: 5px; 
}

.bloc41
{
	margin-left: 40px;
	display: flex;

}

.reco2
{
	margin-left: 200px;
}

