body
{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(0, 2, 2);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: row nowrap;

}

img
{
	width: 200px;
	margin: 50px;
	border-radius: 50%;
	position: static;
	border:10px solid orange;
}


.volet1

{

    background-color: #ffd900; 
    flex-shrink: 1;
    
}
.contact
{
    height: 300px;
    text-align:;
}
.apropos
{
    height: 250px;
}

.loisirs
{
    height: 100px;
}
.volet2

{
   
    background-color: rgb(241, 241, 239); 
    flex-grow: 1;
    margin-top: ;
}

.case2
{
    width: 300px;
    height: 100px;
    border: 1px solid black;
    background-color: chartreuse;
}

.case3
{
    width: 300px;
    height: 100px;
    border: 1px solid black;
    background-color: chartreuse;
}

.case4
{
    width: 300px;
    height: 100px;
    border: 1px solid black;
    background-color: chartreuse;
}

.case1
{
    width: 300px;
    height: 100px;
    border: 1px solid black;
    background-color: chartreuse;
}

.p1 
{
	text-align: center;
	background-color: rgb(53, 53, 54);
	color: #ffd900;
}

.p11
{
    margin-left: 30px;
}

.p2 
{
	text-align: center;
	background-color: rgb(53, 53, 54);
	color: #ffd900;
}

.lorem
{
    width: 250px;
    margin-left: 30px;
    text-align: justify;
}



.p3
{
	text-align: center;
	background-color: rgb(53, 53, 54);
    color: #ffd900;
    margin-top: 450px;
}


h1
{
    margin-left: 100px;
    font-size: 30px;
}
h2
{
	margin-bottom: 0px;
}
h3
{
	margin-top:0px;
}

.bloc1
{
	margin-top: 70px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

.nom
{
    color: rgb(255, 217, 0);
    font-size:40px;
}

.prenom
{
    font-size: 40px;
}

section
{
	margin-bottom: 70px;
}

.expe
{
    margin-left: 300px;
    margin-right: 40px;
    text-align: justify;
}

.date
{
	float: left;
	margin-left: 40px;
}

.date_1
{
    margin-top: 5px;
}

.date_2
{
    margin-top: 130px;
}

.date_3
{
    margin-top: 5px;
}

.date_4
{
    margin-top: 130px;
}

.date_5
{
    margin-top: 130px;
}
.bloc41
{
	margin-left: 40px;
	display: flex;
}

.reco2
{
	margin-left: 200px;
}

